body {
    background-repeat: no-repeat;
    background-position: top;
    background-image: url(../background.jpg);
    max-width: 100%;
    min-height: 100%;
}
.preblock {
    display: block;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    background: #fff;
    border-radius: 10px;
    width: 260px;
    min-height: 160px;
    position: absolute;
    top: 40%;
    left: calc(50% - 260px + 100px);
    text-align: center;
}
.preblockTitle {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}
.preblockFirst {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}
.preblockSecond {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}